.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header h1 {
  color: #fff;
}

.App-header h2 {
  color: #666;
  font-weight: normal;
}

.gameBoard {
  max-width: 660px;
  margin: 1rem auto;
}
